body {
  background-color: cadetblue;
  font-family: "Arial", sans-serif;
}

/* Pages styling */

.nav {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  height: 3.5rem;
  font-family: Arial, sans-serif;
}

.nav-item {
  width: 5rem;
  text-align: center;
  font-size: small;
  border: none;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:link, a:visited {
  text-decoration: none;
  text-align: center;
  color: aliceblue;
}

.nav-link:hover, .nav-link:focus, .nav-link:active, .out:hover {
  color: mediumaquamarine;
  background-color: inherit;
  cursor: pointer;
}

button, #delA, #viewA {

  background-color: #445a86;
  width: 30%;
  color: white;
  padding: 1.5% 2%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover, button:focus, button:active, .btnHolster button:hover, .btnHolster button:focus, .btnHolster button:active {
  background-color: #445a86;
  color: mediumaquamarine;
  cursor: pointer;
}

/* Home styling */

h1, h2 {
  text-align: center;
}

.accList {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 95%;
  margin: auto;
}

.card, .form, .transTble, .new-trans {
  background-color: aliceblue;
  padding: 1%;
  margin: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  min-width: 20em;
  text-align: center;
}

.cardID {
  color: cadetblue;
}

.btnHolster {
  display: flex;
}

.btnHolster button, #viewA {
  margin: auto;
  font-size: small;
}

#viewA:hover, #viewA:focus, #viewA:active {
  color: mediumaquamarine;
  cursor: pointer;
}

/* Transactions styling */

.transList {
  background: ghostwhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  text-align: center;
  margin: auto auto 0.5%;
}

th, td {
  border: 1px solid #445a86;
  padding: 1% 0;
}

/* Account Page styling */

.form, .form div, .Form-edit form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.Form-edit form input, .Form-edit form button, #delA {
  margin: 1% auto;
}

.form div {
  margin-bottom: 0.5%;
}

.form h3, .form p, .form button {
  margin: 1% auto;
}

.transTble {
  margin-top: 2em;
  background-color: #445a86;
}

.transTble h3 {
  color: ghostwhite;
}

.new-trans, .form {
  background-color: #445a86;
  color: ghostwhite;
}

.Form-edit form button, .form button, #delA {
  background-color: cadetblue;
  font-size: small;
}

#delA:hover, #delA:focus, #delA:active {
  color: mediumaquamarine;
  cursor: pointer;
}

/* Media queries for mobile view */

@media only screen and (max-width: 1365px) {

  .accList {
    display: grid;
    grid-template-columns: auto auto;
    width: 98%;
    margin: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .transList {
    width: 98%;
  }
}

@media only screen and (max-width: 767px) {
  .tble-con {
    font-family: "Arial Narrow", sans-serif;
  }

  .transList {
    width: 98%;
  }
}

@media only screen and (max-width: 700px) {
  .accList {
    display: grid;
    grid-template-columns: auto;
    width: 99%;
    margin: auto;
  }
}

@media only screen and (max-width: 500px) {
  .transList {
    width: 99%;
  }

  .container {
    font-size: small;
  }
}