body {
  background-color: cadetblue;
  font-family: sans-serif;
}

/* Pages styling */

.nav {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  height: 3.5rem;
}

.nav-item {
  width: 5rem;
  text-align: center;
  font-size: small;
  border: none;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:link, a:visited {
  text-decoration: none;
  text-align: center;
  color: aliceblue;
}

.nav-link:hover, .nav-link:focus, .nav-link:active, .out:hover {
  color: mediumaquamarine;
  background-color: inherit;
  cursor: pointer;
}

/* Home styling */

h1, h2 {
  text-align: center;
}

.accList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 99%;
  height: 100%;
  margin: auto;
}

.card {
  background-color: aliceblue;
  padding: 1%;
  margin: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  width: 20em;
}

.btnHolster {
  display: flex;
}

.btnHolster button {
  margin: auto;
}